.wrap{
    position: relative;
    // width: 1200px;
    height: 280px;
    overflow-y: hidden;
}
.liney{
    width: 1px;
    box-sizing: border-box;
    height: 900px;
    top: -450px;
    display: block;
    content: "";
    position: absolute;
    z-index: -5;
    border-right: 1px rgba(30,144,255,0.8) dashed;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.twoline{
    &::after{
        @extend .liney;
        // width: 10px;
        right: -1px;
        left: auto;
    }
    &::before{
        @extend .liney;
        left: 0px;
        right: auto;
    }
    &:hover{
        &::after{
            visibility: visible;
            opacity: 1;
        }
        &::before{
            visibility: visible;
            opacity: 1;
        }
    }
}
.bookingtable{
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    $width: 1200px;
    width: $width;
    .timelist{
       padding: 0;
       >div{
           display: inline-block;
           box-sizing: border-box;
           border-left: 1px solid rgba(0,0,0,0);
           border-right: 1px solid rgba(0,0,0,0);
           width:0.0625 * $width/2;
           position: relative;
           &::before{
                display: block;
                position: absolute;
                bottom: -10px;
                content: "";
                width: 50%;
                height: 7px;
                left: 0px;
                border-right: 1px solid #aaa;
            }
           &:nth-child(1){
               border-left: 1px solid rgba(0,0,0,0);
           }
       }
    }
    th:nth-child(1){
       width: 0.0625 * $width;
    }
    .barlist{
        position: relative;
        padding: 0 0;
        vertical-align: middle;
        white-space: nowrap;
        z-index: 6px;
        .timebar{
            position: absolute;
            z-index: 10;
            display: inline-block;
            box-sizing: border-box;
            width: 200px;
            height: 25px;
            line-height: 25px;
            top: 7px;
            background: orange;
            transform: scale(1,0.9);
            transition: all .5s;
            box-shadow: 3px 3px 8px  #eee;
            @extend .twoline;
        }
        .selectWrap{
            position: relative;
            z-index: 8;
        }
        .select-bar{
            display: inline-block;
            opacity: 0;
            width: 37.6px;
            line-height: 25px;
            transition: opacity .5s;
            background: #aaa;
            user-select:none;
            position: relative;
            @extend .twoline;
            &:hover{
                opacity: 0.2;
            }
        }
        .mytip{
            background: #80ee7c;
            .quxiao {
                position: absolute;
                z-index: 20;
                line-height: 8px;
                font-size: 8px;
                text-align: center;
                width: 15px;
                height: 15px;
                background: #EEEEEE;
                border: 1px #e0e0e0 solid;
                box-sizing: border-box;
                box-shadow: 1px 1px 8px -1px #eee;
                border-radius:100% ;
                cursor: pointer;
                opacity : 0;
                right: -5px;
                top: -5px;
                transition: all .5s;
                &:hover{
                    background: #f24e4e;
                    color: white;
                }
            }
            &:hover .quxiao {
                opacity :1;
            }
        }
        .toSelect{
            background :#af7;
        }
    }
}
//button input 全局样式
input {
    display: inline-block;
    width: 15em;
    height: 1.5em;
    line-height: 1.5em;
    padding: 4px 7px;
    border: 1px solid #d7dde4;
    border-radius: 3px;
    color: #657180;
    background-color: #fff;
    margin: 10px 0;
    transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
    &::-webkit-input-placeholder { /* WebKit browsers */
        color:#e3e8ee;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:#e3e8ee;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:#e3e8ee;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:#e3e8ee;
    }
    &:hover {
        border: 1px solid #999;
    }
    &:focus {
        border: 1px solid #5cadff;
        box-shadow: 0 0 1px #3091f2;
    }
}
.btn{
        display: inline-block;
        padding: 6px 12px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 3px;
        color: #fff;
        background-color: #1ec1bb;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}
.container{
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    .form , #form {
        width: 200px;
        margin: 80px auto;
    }
    p{
        margin:5px 0;
        height: 1em;
    }
    &.login{
        position: fixed;
        z-index: 50;
        background-color: #fff;
        top: 100px;
        left: 100px;
    }
}
.background{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 40;   //  visibility: hidden;
}
.none{
    display: none;
}
.half{
    font-size: 12px;
    height: 12px;
    color: gray;
}
.viewer{
    >div{
        float: left;
    }
    .messageshow-table{
        text-align: center;
        width: 398px;
        tbody td{
            width: 198px;
        }
    }
    .bookinglist{
        h4{
            margin: 3px 0;
            font-size: 20px;
            font-weight: 300;
        }
        min-width: 400px;
        max-width: 900px;
        >div{
            width: 400px ;
            margin : 10px;
            float: left;
        }
        margin: 10px;
    }
}