

body {
    text-align: center;
}

table.imagetable {
    margin: auto;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 3px;
    border-color: #111111;
    border-collapse: collapse;
}

table.imagetable th {
    background: #b5cfd2 url('../images/cell-blue.jpg');
    border-width: 3px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

table.imagetable td {
    background: #dcddc0 url('../images/cell-grey.jpg');
    border-width: 3px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

div.addDiv {
    text-align: center;
    margin: auto;
    border: solid red;
    width: 600px;
    height: auto;
    display: none;
}

input:disabled {
    border: 1px solid #DDD;
    background-color: #F5F5F5;
    color: #ACA899;
}

div.bookingDiv {
    width: 600px;
    border: black solid;
    margin: auto;
}


table.buttonTable {
    text-align: center;
    border: solid red;
    margin: auto;
    width: 600px;
    height: 30px;
}

table.buttonTable td {
    border: solid yellow;
    margin: auto;
    width: inherit;
    height: inherit;
}